
table {
    border-width: 5px;
    border-style:solid;
    width: 100%;
    
    
}


tr img {
    height: auto;
    width: auto;
    
}

td {
    font-family: fantasy;
    font-size: 30px;
    color: red;
    text-shadow: 3px 2px 2px grey;
    
}

th {
font-family: fantasy;
    text-align: center;
    text-shadow: 2px 2px 2px grey;
    color: white;
}
